|||template "vueheader"|||
<div>
		<script type="text/javascript">
			function　getCookie(name){
				if (document.cookie.length>0)
				{
					start=document.cookie.indexOf(name + "=");
					if (start!=-1)
					{ 
						start=start + name.length+1;
						c_end=document.cookie.indexOf(";",start);
						if (c_end==-1) c_end=document.cookie.length;
						return unescape(document.cookie.substring(start,c_end));
					} 
				}
				return "";
			}
			$(function() {
				var sess = getCookie("SESSIONID");
				var conn = new WebSocket("ws://"+window.location.host+"/logws?id="+sess+"&lastMode=|||.LastMode|||&full=|||.Full|||");
				conn.onclose = function(evt) {
					console.log(evt.data);
				};
				conn.onmessage = function(evt) {
					document.write(evt.data);
					document.close();
				};
				conn.onerror = function(evt) {
					console.log(evt.data);
				};
			});
		</script>
</div>
|||template "vuefooter"|||
