|||template "vueheader" .|||
|||template "treenav" .|||
|||template "caseheader" |||
<fieldset>
<div id="form-taskinfo">
	<div class="form-horizontal">
		<div class="form-group">
			<label for="routine_name" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-8">
				<input class="form-control required" v-model="ntask.name" type="text" placeholder="Do something"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Pre Condition</label>
			<div class="col-sm-8">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th class="text-center col-sm-1">Index</th>
							<th class="text-center col-sm-1">DUT</th>
							<th class="text-center col-sm-1">Delay</th>
							<th class="text-center col-sm-2">Mode</th>
							<th class="text-center col-sm-3">CLI</th>
							<th class="text-center col-sm-4">Expected</th>
							<th class="text-center col-sm-1">+/-</th>
						</tr>

						<tr>
							<td class="text-center"><input type="text" v-model="prcinputs.index" placeholder='0' class="form-control col-sm-1 required"/></td>
							<td class="text-center"><input type="text" v-model="prcinputs.dut" placeholder='DUT1' class="form-control col-sm-1 required"/></td>
							<td class="text-center"><input type="text" v-model="prcinputs.command.delay" placeholder='0' class="form-control col-sm-1 required"/></td>
							<td class="text-center"><input type="text" v-model="prcinputs.command.mode" placeholder='normal' class="form-control col-sm-1 required"/></td>
							<td class="text-center"><input type="text" v-model="prcinputs.command.cli" placeholder='show runngin-config' class="form-control col-sm-4 required"/></td>
							<td class="text-center"><input type="text" v-model="prcinputs.expected" placeholder='br1000[[_space_]]+up' class="form-control col-sm-4 required"/></td>
							<td class="text-center"><button class="btn btn-success glyphicon glyphicon-plus" @click.prevent="addNewPreCondition"></button></td>
						</tr>
					</thead>
					<tbody v-for="(assertion, index) in ntask.precondition.assertions">
						<tr>
							<td class="text-center">{{index}}</td>
							<td class="text-center">{{assertion.dut}}</td>
							<td class="text-center">{{assertion.command.delay}}</td>
							<td class="text-center">{{assertion.command.mode}}</td>
							<td class="text-center">{{assertion.command.cli}}</td>
							<td class="text-center">{{assertion.expected}}</td>
							<td class="text-center"><button class="btn btn-danger glyphicon glyphicon-minus" @click.prevent="delPreCondition(index)"></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="stage_name">Routine</label>
			<div class="col-sm-8">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th class="text-center col-sm-1">Index</th>
							<th class="text-center col-sm-1">DUT</th>
							<th class="text-center col-sm-1">Delay</th>
							<th class="text-center col-sm-2">Mode</th>
							<th class="text-center col-sm-3">CLI</th>
							<th class="text-center col-sm-4">Expected</th>
							<th class="text-center col-sm-1">+/-</th>
						</tr>
						<td class="text-center"><input type="text" v-model="mrinputs.index" placeholder='0' class="form-control col-sm-1 required"/></td>
						<td class="text-center"><input type="text" v-model="mrinputs.dut" placeholder='DUT1' class="form-control col-sm-1 required"/></td>
						<td class="text-center"><input type="text" v-model="mrinputs.command.delay" placeholder='0' class="form-control col-sm-1 required"/></td>
						<td class="text-center"><input type="text" v-model="mrinputs.command.mode" placeholder='normal' class="form-control col-sm-1 required"/></td>
						<td class="text-center"><input type="text" v-model="mrinputs.command.cli" placeholder='show runngin-config' class="form-control col-sm-4 required"/></td>
						<td class="text-center"><input type="text" v-model="mrinputs.expected" placeholder='br1000[[_space_]]+up' class="form-control col-sm-4 required"/></td>
						<td class="text-center"><button class="btn btn-success glyphicon glyphicon-plus" @click.prevent="addNewMainRoutine"></button></td>
						</tr>

					</thead>
					<tbody v-for="(assertion, index) in ntask.routine.assertions">
						<tr>
							<td class="text-center">{{index}}</td>
							<td class="text-center">{{assertion.dut}}</td>
							<td class="text-center">{{assertion.command.delay}}</td>
							<td class="text-center">{{assertion.command.mode}}</td>
							<td class="text-center">{{assertion.command.cli}}</td>
							<td class="text-center">{{assertion.expected}}</td>
							<td class="text-center"><button class="btn btn-danger glyphicon glyphicon-minus" @click.prevent="delMainRoutine(index)"></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="stage_name">Post Condition</label>
			<div class="col-sm-8">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th class="text-center col-sm-1">Index</th>
							<th class="text-center col-sm-1">DUT</th>
							<th class="text-center col-sm-1">Delay</th>
							<th class="text-center col-sm-2">Mode</th>
							<th class="text-center col-sm-3">CLI</th>
							<th class="text-center col-sm-4">Expected</th>
							<th class="text-center col-sm-1">+/-</th>
						</tr>
						<td class="text-center"><input type="text" v-model="pocinputs.index" placeholder='0' class="form-control col-sm-1 required"/></td>
						<td class="text-center"><input type="text" v-model="pocinputs.dut" placeholder='DUT1' class="form-control col-sm-1 required"/></td>
						<td class="text-center"><input type="text" v-model="pocinputs.command.delay" placeholder='1' class="form-control col-sm-1 required"/></td>
						<td class="text-center"><input type="text" v-model="pocinputs.command.mode" placeholder='normal' class="form-control col-sm-1 required"/></td>
						<td class="text-center"><input type="text" v-model="pocinputs.command.cli" placeholder='show runngin-config' class="form-control col-sm-4 required"/></td>
						<td class="text-center"><input type="text" v-model="pocinputs.expected" placeholder='br1000[[_space_]]+up' class="form-control col-sm-4 required"/></td>
						<td class="text-center"><button class="btn btn-success glyphicon glyphicon-plus" @click.prevent="addNewPostCondition"></button></td>
						</tr>

					</thead>
					<tbody v-for="(assertion, index) in ntask.postcondition.assertions">

						<tr>
							<td class="text-center">{{index}}</td>
							<td class="text-center">{{assertion.dut}}</td>
							<td class="text-center">{{assertion.command.delay}}</td>
							<td class="text-center">{{assertion.command.mode}}</td>
							<td class="text-center">{{assertion.command.cli}}</td>
							<td class="text-center">{{assertion.expected}}</td>
							<td class="text-center"><button class="btn btn-danger glyphicon glyphicon-minus" @click.prevent="delPostCondition(index)"></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="stage_name">Clear</label>
			<div class="col-sm-8">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th class="text-center col-sm-1">Index</th>
							<th class="text-center col-sm-1">DUT</th>
							<th class="text-center col-sm-1">Delay</th>
							<th class="text-center col-sm-2">Mode</th>
							<th class="text-center col-sm-3">CLI</th>
							<th class="text-center col-sm-4">Expected</th>
							<th class="text-center col-sm-1">+/-</th>
						</tr>
						<td class="text-center"><input type="text" v-model="crinputs.index" placeholder='0' class="form-control col-sm-1 required"/></td>
						<td class="text-center"><input type="text" v-model="crinputs.dut" placeholder='DUT1' class="form-control col-sm-1 required"/></td>
						<td class="text-center"><input type="text" v-model="crinputs.command.delay" placeholder='0' class="form-control col-sm-1 required"/></td>
						<td class="text-center"><input type="text" v-model="crinputs.command.mode" placeholder='normal' class="form-control col-sm-1 required"/></td>
						<td class="text-center"><input type="text" v-model="crinputs.command.cli" placeholder='show runngin-config' class="form-control col-sm-4 required"/></td>
						<td class="text-center"><input type="text" v-model="crinputs.expected" placeholder='br1000[[_space_]]+up' class="form-control col-sm-4 required"/></td>
						<td class="text-center"><button class="btn btn-success glyphicon glyphicon-plus" @click.prevent="addNewClearRoutine"></button></td>
						</tr>

					</thead>
					<tbody v-for="(assertion, index) in ntask.clear.assertions">
						<tr>
							<td class="text-center">{{index}}</td>
							<td class="text-center">{{assertion.dut}}</td>
							<td class="text-center">{{assertion.command.delay}}</td>
							<td class="text-center">{{assertion.command.mode}}</td>
							<td class="text-center">{{assertion.command.cli}}</td>
							<td class="text-center">{{assertion.expected}}</td>
							<td class="text-center"><button class="btn btn-danger glyphicon glyphicon-minus" @click.prevent="delClearRoutine(index)"></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-sm-8 col-sm-offset-2">
			<button class="btn icon-btn btn-success pull-left" @click.prevent="submitForm">Continue</button>
			<button class="btn icon-btn btn-primary pull-right" @click.prevent="submitForm">Finish</button>
		</div>
	</div>
</div>
</fieldset>
<script>
	function dumpTask(id) {
		var taskinfo
		$.ajax({
			type:"get",
			url:"dumptask?id="+id,
			async:false,
			success:function(data) {
				taskinfo = data;
			}
		});
		return JSON.parse(taskinfo);
	}

	function　getCookie(name){
		if (document.cookie.length>0)
		{
			start=document.cookie.indexOf(name + "=");
			if (start!=-1)
			{ 
				start=start + name.length+1;
				c_end=document.cookie.indexOf(";",start);
				if (c_end==-1) c_end=document.cookie.length;
				return unescape(document.cookie.substring(start,c_end));
			} 
		}
		return "";
	}
</script>
<script>
	var taskinfo = new Vue({
		el: '#form-taskinfo',
		data: {
			prcinputs: {
				index: "0",
				dut:"0",
				command: {
					delay: 0,
					mode: "normal",
					cli: "show running-config"
				},
				expected: "#"
			},
			pocinputs: {
				index: "0",
				dut:"0",
				command: {
					delay: 1,
					mode: "normal",
					cli: "show running-config"
				},
				expected: "#"
			},
			mrinputs: {
				index: "0",
				dut:"0",
				command: {
					delay: 0,
					mode: "normal",
					cli: "show running-config"
				},
				expected: "#"
			},
			crinputs: {
				index: "0",
				dut:"0",
				command:{
					delay: 0,
					cli: "show running-config",
					mode: "normal"
				},
				expected: "#"
			},
			ntask: dumpTask(getCookie("TASKID")),
			submitted:false
		},
		methods: {
			addNewPreCondition: function(){
				if (this.prcinputs.index == 0) {
					this.ntask.precondition.assertions.push({
						dut: this.prcinputs.dut,
						command: {
							delay: +this.prcinputs.command.delay,
							mode: this.prcinputs.command.mode,
							cli: this.prcinputs.command.cli
						},
						expected: this.prcinputs.expected
					});
				} else  {
					this.ntask.precondition.assertions.splice(this.prcinputs.index, 0, {
						dut: this.prcinputs.dut,
						command: {
							delay: +this.prcinputs.command.delay,
							mode: this.prcinputs.command.mode,
							cli: this.prcinputs.command.cli
						},
						expected: this.prcinputs.expected

					});
				}
				this.inputs = {};
			},
			delPreCondition: function(index){
				this.ntask.precondition.assertions.splice(index, 1);
			},

			addNewPostCondition: function(){
				if (this.pocinputs.index == 0) {
					this.ntask.postcondition.assertions.push({
						dut: this.pocinputs.dut,
						command: {
							delay: +this.pocinputs.command.delay,
							mode: this.pocinputs.command.mode,
							cli: this.pocinputs.command.cli
						},
						expected: this.pocinputs.expected
					});
				} else  {
					this.ntask.postcondition.assertions.splice(this.pocinputs.index, 0, {
						dut: this.pocinputs.dut,
						command: {
							delay: +this.pocinputs.command.delay,
							mode: this.pocinputs.command.mode,
							cli: this.pocinputs.command.cli
						},
						expected: this.pocinputs.expected

					});
				}
				this.inputs = {};
			},
			delPostCondition: function(index){
				this.ntask.postcondition.assertions.splice(index, 1);
			},

			addNewMainRoutine: function(){
				if (this.mrinputs.index == 0) {
					this.ntask.routine.assertions.push({
						dut: this.mrinputs.dut,
						command: {
							delay: +this.mrinputs.command.delay,
							mode: this.mrinputs.command.mode,
							cli: this.mrinputs.command.cli
						},
						expected: this.mrinputs.expected
					});
				} else  {
					this.ntask.routine.assertions.splice(this.mrinputs.index, 0, {
						dut: this.mrinputs.dut,
						command: {
							delay: +this.mrinputs.command.delay,
							mode: this.mrinputs.command.mode,
							cli: this.mrinputs.command.cli
						},
						expected: this.mrinputs.expected

					});
				}
				this.inputs = {};
			},
			delMainRoutine: function(index){
				this.ntask.routine.assertions.splice(index, 1);
			},

			addNewClearRoutine: function(){
				if (this.mrinputs.index == 0) {
					this.ntask.clear.assertions.push({
						dut: this.crinputs.dut,
						command: {
							delay: +this.crinputs.command.delay,
							mode: this.crinputs.command.mode,
							cli: this.crinputs.command.cli
						},
						expected: this.crinputs.expected
					});
				} else  {
					this.ntask.clear.assertions.splice(this.crinputs.index, 0, {
						dut: this.crinputs.dut,
						command: {
							delay: +this.crinputs.command.delay,
							mode: this.crinputs.command.mode,
							cli: this.crinputs.command.cli
						},
						expected: this.crinputs.expected
					});
				}
				this.inputs = {};
			},

			delClearRoutine: function(index){
				this.ntask.clear.assertions.splice(index, 1);
			},

			submitForm: function(e) {
				$.ajax({
					type:"post",
					url:"newtask",
					async:false,
					data: {newtask: JSON.stringify(this.ntask)},
					success:function(data) {
						window.location="caseinfo?id="+getCookie("CASEID");
					}
				});
				this.submitted = true;
			}
		}
	});
</script>
|||template "vuefooter"|||
