|||define "vueheader"|||
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="desciption" content="Test">
		<meta name="author" content="liwei">
		<title>Go go go</title>
		<link rel="icon" href="asset/web/static/favicon/favicon.ico" type="image/x-icon" >
		<link rel="shortcut icon" href="asset/web/static/favicon/favicon.ico" type="image/x-icon" >
		<link rel="stylesheet" href="asset/web/static/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="asset/web/static/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="asset/web/static/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="asset/web/static/css/mra.css">
		<link rel="stylesheet" href="asset/web/static/css/zTreeStyle/zTreeStyle.css" type="text/css">
		<link rel="stylesheet" href="asset/web/static/notyf/dist/notyf.min.css">
		<script src="asset/web/static/notyf/dist/notyf.min.js"></script>
		<script type="text/javascript" src="asset/web/static/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="asset/web/static/jquery/jquery.form.js"></script>
		<script type="text/javascript" src="asset/web/static/vue/vue.min.js"></script>
		<script type="text/javascript" src="asset/web/static/vue-router/vue-router.js"></script>
		<script type="text/javascript" src="asset/web/static/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="asset/web/static/jquery-validate/lib/jquery.js"></script>
		<script type="text/javascript" src="asset/web/static/jquery-validate/dist/jquery.validate.min.js"></script>
		<script type="text/javascript" src="asset/web/static/jQuery-File-Upload-9.18.0/js/vendor/jquery.ui.widget.js"></script>
		<script type="text/javascript" src="asset/web/static/jQuery-File-Upload-9.18.0/js/jquery.iframe-transport.js"></script>
		<script type="text/javascript" src="asset/web/static/jQuery-File-Upload-9.18.0/js/jquery.fileupload.js"></script>
	</head>
	</body>
			<script>
				function Logout() {
					$.ajax({
						type:"get",
						url:"logout",
						async:false,
						success:function(data) {
							window.location="/login"
						}
					});
				}
			</script>
	<div class="header">
		<!-- Second navbar for sign in -->
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-2">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="http://www.dasannetworks.com">Brand</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-collapse-2">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="http://ditto.dasannetworks.com">DITTO</a></li>
						<li><a href="http://bms.dasannetworks.com:5524">BMS</a></li>
						<li><a href="http://wiki.dasannetworks.com">WIKI</a></li>
						<li><a href="#">Works</a></li>
						<li><a href="#">News</a></li>
						<li>
							<button type="submit" class="btn btn-default btn-outline btn-circle" onclick='Logout()'>Logout</a>
						</li>
					</ul>
					<!--
					<div class="collapse nav navbar-nav nav-collapse" id="nav-collapse2">
						<form class="navbar-form navbar-right form-inline" role="form">
							<div class="form-group">
								<label class="sr-only" for="Name">Email</label>
								<input type="text" class="form-control" id="Name" placeholder="Name" autofocus required />
							</div>
							<div class="form-group">
								<label class="sr-only" for="Password">Password</label>
								<input type="password" class="form-control" id="Password" placeholder="Password" required />
							</div>
							<button type="submit" class="btn btn-success">Sign in</button>
						</form>
					</div>
					-->
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container -->
		</nav><!-- /.navbar -->
	</div>
	<div id=mra>
|||end|||
